.checkout-page {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.checkout-page .shopping-cart {
    border: black solid 1px;
    border-radius: 15px;
    padding: 15px;
    width: 300px;
}

.checkout-page .payment-img {
    width: 75px;
}

.checkout-page .costumer-info {
    border: black solid 1px;
    border-radius: 15px;
    padding: 15px;
    width: 300px;
}

.payment-img .selected{
    width: 75px;
    border: black solid 5px;
}
