.Filters {
    text-align: center;
    height: 100vh;
    width: 100%;
}

.list-inline-item {
    text-align: center;
    display: inline-block;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0.3em;
}


    .list-inline-item button {
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
       
        width: 10vw;
        padding: 1.5vh 2.5vh;
        border: 0vh;
        border-radius: 1vh;
        background: #EAB5FF;
        box-shadow: inset 1vh 2vh 4vh #c99cdb, inset -1vh -2vh 4vh #ffceff;
        float: left;
    }

.firstLine {
    display: inline-block;
    flex-direction: column;
    flex-wrap: wrap;
}


.card {
    display: flex;
    flex-direction: column;
    width: 13em;
    margin: 0.5em;
    padding: 1em;
}
