

.list-item {
    display: flex;
    flex-direction: column;
    margin: 10px;
    align-items: center;
    text-align: center;
    flex-wrap: wrap;
    max-width: 170px;
}

.list-item img {
    height: 250px;
}

.list-item .gray-box {
    height: 250px;
    width: 170px;
    background-color: gray;
}

.list-item .title {
    font-family: 'Oswald', sans-serif;
    margin-top: 5px;
    margin-bottom: 0px;
}

.list-item .genre-container {
    text-align: center;
    flex-direction: row;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.list-item .genre {
    font-family: 'Oswald', sans-serif;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-right: 5px;
}

.list-item .director {
    font-family: 'Oswald', sans-serif;
    margin-top: 5px;
    margin-bottom: 5px;
}

.list-item .price-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 0px;
    margin-bottom: 5px;
}

.list-item .price {
    margin: 5px;
}

.shopping-cart-button {
    color: #5E42D6;
}