.movieListHeading .list-heading {
    justify-content: center;
}

.list-item {
    display: flex;
    flex-direction: column;
    margin: 1vmin;
    align-items: center;
    text-align: center;
    flex-wrap: wrap;
    max-width: 20.4vmin;
    
}

.list-item img {
    height: 30vmin;
    transition: transform 0.5s;
}

    .list-item img:hover {
        transform: scale(1.05);
    }

    .list-item .gray-box {
        height: 30vmin;
        width: 20.4vmin;
        background-color: gray;
    }

    .list-item .title {
        font-family: 'Oswald', sans-serif;
        font-size: x-large;
        margin-top: 5px;
        margin-bottom: 0px;
    }

.list-item .genre-container {
    text-align: center;
    flex-direction: row;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

    .list-item .genre {
        font-family: 'Oswald', sans-serif;
        font-size: medium;
        margin-top: 0px;
        margin-bottom: 0px;
        padding-right: 5px;
    }

.list-item .director {
    font-family: 'Oswald', sans-serif;
    margin-top: 5px;
    margin-bottom: 5px;
}

.list-item .price-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 0px;
    margin-bottom: 5px;
}

    .list-item .price {
        font-size: medium;
        margin: 5px;
    }

.shopping-cart-button {
    color: #5E42D6;
    transition: transform 0.5s;
}

    .shopping-cart-button:hover {
        transform: scale(1.3);
    }

@media only screen and (max-width: 769px) {

    .list-item .title {
        font-size: small;
    }

    .list-item .genre {
        font-size: x-small;
    }

    .list-item .price {
        font-size: x-small;
    }

    .shopping-cart-button {
        width: 1em;
    }
    
}
