.movieContainer {
    display: flex; 
    flex-direction: row;
    width: 15vw;
    justify-content: center;
    min-width: 100%;
}

.cartItemsContainer {
    overflow: scroll;
    align-self: center;
    max-height: 75%;
}

.minimized {
    min-width: 300px;
}

.cartItemsContainer::-webkit-scrollbar {
    display: none;
  }

.shoppingCartContainer {
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 25px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin: 5px;
    padding: 20px;
    position: relative;
}

.lineBreak {
    height: 2px;
    width: 100%;
    background-color: black;
}

.totalSumContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.buyButtonShoppingCart {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    
}

.flexEnd {
    color: #5E42D6;
    align-self: flex-end;
    min-height: 3em;
}

.flexCenter {
    align-items: center;
    margin: 5px;
}

.flexBetween {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.cartItemAmount {
    display: flex;
    background-color: teal;
    padding: .3em;
    min-width: 1em;
    font-size: small;
    border-radius: 50%;
    color: white;
    font-weight: bold;
    position: absolute;
    top: 0;
    right: 1vmin;
    justify-content: center;
}

@media only screen and (max-width: 768px) {
    .expanded {
        width: 85vw;
        align-content: center;
        background-color: white;
        border-radius: 25px;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }
    .movieContainer {
        width: 100%;
    }
    .cartItemsContainer {
        width: 100%;
    }

    .cartItemAmount {
        right: 3vmin;
    }

    .cartTotalSum {
        display: none;
    }
}