.App {
  text-align: center;
  height: 100vh;
  width: 100%;
}

body {
    background: white;
    color: black;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.container {
  width: 100vw;
}

.shoppingCart {
  display: flex;
  flex-direction: row;
  padding: 1%;
  z-index: 100;
  position: absolute;
  top: 0;
  right: 0;
}
