.App {
  text-align: center;
  height: 100vh;
  width: 100%;
}

body {
    background: white;
    color: black;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.container {
  width: 100vw;
}

.shoppingCart {
  display: flex;
  flex-direction: row;
  padding: 1%;
  z-index: 100;
  position: absolute;
  top: 0;
  right: 0;
  max-height: 14vh;
  transition: max-height 1s;
}

.shoppingCart:hover {
  max-height: 50vh;
}

@media only screen and (max-width: 768px) {
  .shoppingCart {
    max-height: 100%;
    justify-content: center;
  }
}
