.App {
  text-align: center;
  height: 100vh;
  width: 100%;
}

body {
    background: white;
    color: black;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.container {
  width: 100vw;
}
