.movieDetailsContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #FFF4FF; /* All hexkod för färger kan flyttas till separat komponent för att återanvändas */
    height: 100%;
    width: 100%;
}

.closeWindow {
    position: absolute;
    top: 0;
    left: 0;
    padding: 5%;
    font-size: 50px;
    font-weight: bold;
    color: #9E8EE6;
}

.closeWindow:active {
    opacity: 50%;
}

.moviePoster {
    height: 50vh;
}

.infoBox {
    display: flex;
    flex-direction: column;
    text-align: left;
    justify-content: space-between;
    height: 50vh;
    width: 50vw;
    padding-left: 1%;
}

.topInfo h3 {
    color: #5E42D6;
    text-transform: uppercase;
    font-size: 48px;
    padding: 0;
    margin: 0;
}

.ratingGenre {
    color: #B0B0B0;
    font-weight: bold;
    font-size: 18px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: max-content;
}

.movieRating {
    color: #9D80DE;
    margin: 2px;
    font-size: 18px;
}

.movieGenre {
    margin-left: 2px;
}

.starRating {
    color: #9E8EE6;
    font-size: 20px;
}

.moviePlot {
    padding: 1% 0;
    font-size: 20px;
}

.bottomInfo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.languageCountry {
    color: #575757;
}

.buyButton {
    background-color: #5E42D6;
    color: white;
    font-size: 18px;
    font-weight: 600;
    border: none;
    border-radius: 25px;
    padding: 2% 4%;
    width: auto;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.buyButton:active {
    transform: translateY(3px);
    box-shadow: none;
}